#white {
    background-color:rgb(255, 255, 255)
}
#red {
    background-color: rgb(255, 0, 0);
}
#blue {
    background-color: rgb(0, 0, 255);
}
#pink {
    background-color: rgb(255, 0, 255);
}
#green { 
    background-color: rgb(0, 255, 0);
}
#cyan {
    background-color: rgb(0, 255, 255);
}
#yellow {
    background-color: rgb(255, 255, 0);
}

#white {
    background-color:#ffffff
}
#red {
    background-color: rgb(#ff0000);
}
#blue {
    background-color: #0028ff;
}
#pink {
    background-color: #f100ff;
}
#green { 
    background-color:#008000;
}
#cyan {
    background-color: #00fff0;
}
#yellow {
    background-color: rgb(#ffed00);
}


#st {
    text-decoration-line:line-through;
    text-decoration-color: #44f05f;
    text-decoration-style:double;
    font-family: "Science Gothic", sans-serif;
}