body{
    font-size: 5em;
    background-color: grey;
    height: 100%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header header"
    "sidebar content1 content1"
    "sidebar content2 content3"
    "footer footer footer";
    padding: 10px;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.header{
    border: 5px solid black;
    background-color: rgb(174, 88, 255);
    text-align: center;
    padding: 20px;
    grid-area: header;
}
.content1{
    border: 5px solid black;
    background-color: rgb(174, 88, 255);
    text-align: center;
    padding: 20px;
    grid-area: content1;
}
.sidebar{
    border: 5px solid black;
    background-color: rgb(174, 88, 255);
    text-align: center;
    padding: 20px;
    grid-area: sidebar;
}
.content2{
    border: 5px solid black;
    background-color: rgb(174, 88, 255);
    text-align: center;
    padding: 20px;
    grid-area: content2;
}
.content3{
    border: 5px solid black;
    background-color: rgb(174, 88, 255);
    text-align: center;
    padding: 20px;
    grid-area: content3;
}
.footer{
    border: 5px solid black;
    background-color: rgb(174, 88, 255);
    text-align: center;
    padding: 20px;
    grid-area: footer;
}
