input{
    border-radius: 6px;
    width: 15%;
    height: 10%;
    font-size-adjust: 1;
}
input[type="text"] {
    background-color: grey;
}
input[type="passw"] {
    background-color: black;
}
input[type="email"] {
    background-color: red;
}
input:hover{
    box-shadow: 1px 1px 5px;
}


body {
    font-size: 40px;
}
.box-one{
    background-color: red;
    border: 5px solid green;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}
.box-two{
    background-color: blue;
    border: 0px solid purple;
}

/* content – ტექსტი/სურათი.
padding – შიდა სივრცე content-ის გარშემო.
brder – ჩარჩო რომელიც გარს აკრავს padding-ს.
margin – გარე სივრცე ელემენტსა და სხვა ელემენტებს შორის
 */



.container{
    display: flex;
    border: 5px solid red;
    justify-content: space-around;
    align-items: flex-end;
}

.child{
    background-color: rgb(45, 0, 248);
    border: 5px;
    width: 150px;
    height: 50px;
}