
.nav a{
    text-align: center;
    padding:15px ;
    text-decoration-line: none;
}

#1{
    color:rgb(255, 0, 64);
    background-color: rgb(148, 148, 148);
}
#2{
    color:rgb(29, 29, 29);
    background-color: rgb(192, 192, 192);
}
#3{
    color: rgb(0, 110, 0);
    background-color: rgb(41, 41, 41);
}